@import "../../styles/variables";

.dropdown-field {
  margin-bottom: 1.5rem;

  .dropdown-field__title {
    color: $light-black;
    margin-bottom: 10px;
  }

  .ant-select {
    position: relative;

    .ant-select-selection-item {
      font-family:  MontserratBold, sans-serif;
    }

    &.ant-select-open {
      .anticon.anticon-search {
        svg {
          color: $primary-color;
        }
      }
    }

    .ant-select-arrow {
     svg {
       color: $light-black;
     }
    }
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: $light-black;
    box-shadow: none;
  }

  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
  .ant-select.ant-select-multiple.ant-select-show-search
  .ant-select-selector {
    padding: 7px 15px;
    border: 1px solid $light-black;
    height: auto;
    border-radius: 8px;
    font-family: MontserratSemiBold, sans-serif;
  }

  .ant-select-multiple .ant-select-selection-placeholder {
    left: 15px;
  }

  .ant-select.ant-select-multiple.ant-select-show-search .ant-select-selector {
    padding: 8px 15px;
  }

  .ant-select-multiple .ant-select-selection-search {
    margin-inline-start: -2px;
  }

  .ant-select-multiple
  .ant-select-selection-search:first-child
  .ant-select-selection-search-input {
    margin-left: 0;
  }

  .ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
    height: 100%;
    padding-left: 4px;
  }

  .ant-select {
    width: 100%;
  }
}

.ant-select-dropdown {
  padding: 10px;
  border-radius: 8px;
  .ant-select-item {
    margin-bottom: 5px;
    border-radius: 5px;
  }
}


.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $light-white;


  .ant-select-item-option-state {
    svg {
      color: $light-black;
    }
  }
}
