@import "src/styles/variables";

.app-table.ant-table-wrapper {
  background-color: $white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: $card-shadow;
  margin-top: 1.5rem;
  .ant-table-content {
    .ant-table-thead {
      > tr > th {
        background-color: $table-head-bg;
        border-bottom: 1px solid $table-border;
        font-family: MontserratMedium, sans-serif;
        color: $light-black;
      }
    }
  }
  .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background-color: transparent;
  }
  table {
    border: 1px solid $table-border;
  }

}
